.loginContainer{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 0px;
}
.error{
    color : rgb(95, 79, 79);
    font-weight: bold;
    margin-bottom: 2px;
}
label{
    line-height: 0rem;
}

